<div class="row">


    <div class="col-sm-12">

        <div class="card mb-12">
            <div class="card-header">Game Session Recording</div>
            <table class="card-body table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Runtime Platform</th>
                        <th>App Version Name</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of alldata">
                        <tr (click)="open(content,item)">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.runtimePlatform }}</td>
                            <td>{{item.appVersionName}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Frames</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- <div class="card-header">
                    Bar Chart
                </div> -->
                <div class="card-body">

                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" 
                    [options]="lineChartOptions" [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>

                </div>
                <!-- <div class="card-footer">

                    <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
                </div> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            </div>
        </ng-template>

    </div>
</div>